<%- include('header') %>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
		
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">

		
		                 <b>Name   :</b><%=data.name%>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">

		
		                 <b>Company Name   :</b><%=data.companyName%>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">

		
		                 <b>Work Email   :</b><%=data.workEmail%>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">     
	 <b>Contact Number   :</b>    <%=data.phone%>             </td>
</tr>

<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">     
	<b> Content   :</b>    <%=data.content%>             </td>
</tr>

<%- include('footer') %>